.query {
  margin: 0;
  box-sizing: border-box;
  height: 40px;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  outline: none;
  border: 1px solid #808080;
  width: 100%;
}
.query:hover {
  border: 1px solid #000000;
}
.query:focus {
  border: 1px solid #4e75ff;
}
.submit {
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  color: white;
  background-color: #4e75ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.submit:hover {
  background: #6c8cff;
}
.form {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
  padding: 15px 0 15px 0;
  max-width: 850px;
}
.filter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header {
  z-index: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.checbox-group {
  position: fixed;
  top: 70px;
  right: calc((100% / 2) - 300px);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.filter-anchor {
  height: 70px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-anchor:hover ~ .checbox-group {
  background-color: black;
}
.checbox-group:hover {
  background-color: black;
}
