.home {
  height: 30px;
  transition: scale 250ms ease-in-out;
}
.home:hover {
  scale: 1.5;
}
.query {
  margin: 0;
  box-sizing: border-box;
  height: 40px;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  outline: none;
  border: 1px solid #808080;
  width: 100%;
}
.query:hover {
  border: 1px solid #000000;
}
.query:focus {
  border: 1px solid #4e75ff;
}
.submit {
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  color: white;
  background-color: #4e75ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.submit:hover {
  background: #6c8cff;
}
.search-butt {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 30px;
  transition: scale 250ms ease-in-out;
}
.search-butt:hover {
  scale: 1.5;
}
.search-butt:hover ~ .form {
  transform: translate(-50%, 70px);
  z-index: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
  padding: 15px 0 15px 0;
  pointer-events: auto;
  opacity: 1;
}
@media (max-width: 767px) {
  .form:hover {
    transform: translate(-50%, 70px);
    z-index: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
    padding: 15px 0 15px 0;
    pointer-events: auto;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .search-butt {
    display: none;
    position: absolute;
  }
}
.form {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 300px;
  padding: 10px;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  pointer-events: none;
  opacity: 0;
}
@media (min-width: 768px) {
  .form {
    position: static;
    z-index: 0;
    transform: translate(0, 0);
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
    padding: 15px 0 15px 0;
    pointer-events: auto;
    opacity: 1;
  }
}
.filter-anchor {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: scale 250ms ease-in-out;
}
.filter-anchor:hover {
  scale: 1.5;
}
.header {
  z-index: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.checkbox-group {
  z-index: -1;
  position: fixed;
  top: 0px;
  right: calc(50% - 160px);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  pointer-events: none;
  opacity: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 768px) {
  .checkbox-group {
    right: calc(50% - 300px);
  }
}

.filter-anchor {
  height: 70px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-anchor:hover ~ .checkbox-group {
  transform: translateY(70px);
  opacity: 1;
  pointer-events: auto;
}
.checkbox-group:hover {
  transform: translateY(70px);
  opacity: 1;
  pointer-events: auto;
}
