body {
  margin: 0px;
  transition: background-color 270ms linear;
  padding-bottom: 25px;
}
.dark-theme li {
  border: 1px solid white;
}

.dark-theme {
  background-color: #242424;
  color: white;
}
.header.dark-theme {
  background-color: rgba(99, 99, 99, 0.7);
}
.checkbox-group.dark-theme {
  background-color: rgba(99, 99, 99, 0.7);
}
.dark-theme svg {
  fill: white;
}

#switch-theme {
  display: none;
}
.theme {
  box-sizing: border-box;
  height: 30px;
  transition: scale 250ms ease-in-out;
}
.theme:hover {
  scale: 1.5;
}
